[submodule "LangGraph-GUI-backend"]
	path = backend
	url = ../LangGraph-GUI-backend
[submodule "LangGraph-GUI-frontend"]
	path = frontend
	url = ../LangGraph-GUI-reactflow
[submodule "examples"]
	path = examples
	url = ../examples.git
	branch = main
